.demo-card-wide.mdl-card {
  width: 412px;
}
.demo-card-wide > .mdl-card__title {
  color: silver;
  height: 156px;
  background-color: : lightblue;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
