.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../assets/demos/welcome_card.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

/*html {
  background-color: silver;
}


#addblog-div {
    border-style: solid;
    width: 300px;
    height: 70px;
}

div .descr-div {
  font-size: 15px:
}
a .fill-div {
    display: inline-block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

hr {
  border-style: solid;
}

div.descr-div {
  /*color: white;*/

}*/
