<html>

<header>
  <title>Add Blog</title>
  <link rel="stylesheet" type="text/css" href="/resources/addblog.css">
  <script src="/resources/addblog.js"></script>
</header>


  {% include "templates/navbar.html" %}
<body>
  <br>
<form>
  <div>
  Name of Blog:
  <input type="text" name="blog-name"></h2></div>
  <div>
  Type of Blog:
  <input type="text" name="blog-type"></h2></div>
  <div>
  Link:
  <input type="text" name="blog-link"></h2></div>
  <input type="submit" value="Add Blog" >
</div>
</form>

</body>

</html>
