<html>

<header>
  <title>Add Blog</title>
  <link rel="stylesheet" type="text/css" href="/resources/addblog.css">
</header>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>


{% include "templates/navbar.html" %}

<body>
  {% for entities in addblogs: %}
  <div>
    <div id="addblog-div">
      <h2><a href="{{entities.url}}" class="fill-div">{{entities.title}}</a></h2>
    </div>
  </div>
  <form action= "/add" method = "post">
    <input type="hidden" name="blogid" value="{{entities.key.id()}}">
    <input type="submit" value="Add Blog">
  </form>

  {% endfor %}

Add New Blog
  <form action="/add" method="post">
  <div>
  Name of Blog:
  <input type="text" name="blog_name"></h2></div>
  <div>
  Description:
  <input type="text" name="blog_descr"></h2></div>
  <div>
  Link:
  <input type="text" name="blog_link"></h2></div>
  <input type="submit" value="Add New Blog">
</div>
</form>

</body>

</html>
