<html>

<header>
  <title>Add Blog</title>
  <link rel="stylesheet" type="text/css" href="/resources/addblog.css">
  <script src="addblog.js"></script>
</header>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>


{% include "templates/navbar.html" %}

<body onclick="OnBlockClick()">
  {% for entities in addblogs: %}
  <div>
    <div id="addblog-div">
      <h2><a href="{{entities.url}}" class="fill-div">{{entities.title}}</a></h2>
    </div>
  </div>
  <input type="submit" value="Add Blog">
  {% endfor %}


  <!-- <form method="post">
  <div>
  Name of Blog:
  <input type="text" name="blog-name"></h2></div>
  <div>
  Type of Blog:
  <input type="text" name="blog-type"></h2></div>
  <div>
  Link:
  <input type="text" name="blog-link"></h2></div>
  <input type="submit" value="Add Blog">
</div>
</form> -->

</body>

</html>
