<html>
<header>
  <title>Blogs</title>
  <link rel="stylesheet" type="text/css" href="/resources/blogz.css">
  <script src="/resources/blogz.js"></script>
</header>
<body>
  {% include "templates/navbar.html" %}
<h1>Blogs</h1>



{% for blogs in allblogs: %}

<div class="blog_title"><a href="{{blogs.url}}">{{blogs.title}}</a></div>
<div class="blog_desc">{{blogs.descr}}</div>

{% endfor %}
<div id="add_btn">
<button type="button"><a href="templates/addblog.html">Add Blog</a></button></div>

</body>

</html>
