<html>
  <header>
<title>BlogSpot</title>
<link rel="stylesheet" type="text/css" href="/resources/hero_page.css">
<script src="/resources/hero.js"></script>
</header>
<body>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">Home</a>
  <a href="#">Profile</a>
  <a href="/blogz">BlogsFeed</a>
  <a href="#">Contact</a>

</div>
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>

<div class="hero-image">
  <div class="hero-text">
    <h1 style="font-size:100px">Welcome to BlogSpot!</h1>

  </div>
</div>

</body>
</html>
